$blanco: #ffffff;

$grisClaro: #a2a6ad;
$grisUno: #4a4a4a;
$grisDos: #515151;
$grisTres: #485465;

$grisCuatro: #91959d;
$grisCinco: #d8d8d8;

$grisCinco: #343434;
$grisSeis: #485261;
$grisSiete: #90a1b5;
$grisOcho: #a5a5a5;
$grisNueve: #5a6574;

$azulUno: #2c82be;
$azulDos: #53a8e2;
$azulClaroUno: #75c8f6;
$azulClaroDos: #76ddfb;

$morado: #161032;

$negro: #000000;



