.subtitle {
    font-size: 12px;
    color: $grisClaro;
}

.subtitle_info {
    font-size: 15px;
    color: $grisCuatro;
    font-weight: 100;
}

.contacto_cliente {
    margin-top: 35px;
}

.link_mail {
    color: $azulUno;
}